# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Dependency directories
node_modules

# Dotenv configuration
.env
